.rc-pagination {
  display: flex;
  list-style: none;
  padding: 0;

  &::after {
    display: none;
  }
}

.rc-pagination-item,
.rc-pagination-next,
.rc-pagination-prev {
  color: #313237;
  border: 1px solid #B4BDC3;
  border-radius: 0;

  &:hover {
    border-color: #313237;
    color: #313237;

    & a {
      border-color: #313237;
      color: #313237;
    }
  }
}

.rc-pagination-item-active {
  border: none;
  &:focus {
    border: none;

    & a {
      color: white;
    }
  }

  background-color: #313237;
}

.rc-pagination-item-active a {
  color: white;
}

.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  border: none;
  color: #313237;

  &:hover {
    color: #313237;
  }
}