@import '../../styles/variables/theme_colors.scss';

.rc-pagination {
  display: flex;
  list-style: none;
  padding: 0;

  &::after {
    display: none;
  }
}

.rc-pagination-options {
  display: none;
}

.rc-pagination-item,
.rc-pagination-next,
.rc-pagination-prev {
  color: $color-h;
  border: 1px solid $color-surface2;
  border-radius: 0;
  background-color: $color-surface1;

  & a {
    color: $color-h;
  }

  &:hover {
    border-color: $color-primary;
    background-color: $color-hover;

    & a {
      border-color: $color-primary;
      color: $color-h;
    }
  }
}

.rc-pagination-item-active {
  border: none;
  &:focus {
    border: none;

    & a {
      color: $color-h;
    }
  }

  background-color: $color-primary;
}

.rc-pagination-item-active a {
  color: $color-hover;
}

.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  border: none;
  color: $color-h;
  background-color: $color-surface1;

  &:hover {
    color: $color-primary;
  }

  & a {
    color: $color-h;
  }
}