@import '../../styles/mixins.scss';

.product-page {
  &__specs {
    @include page-grid();
    position: relative;
  }
  
  &__title {
    grid-column: 1 / -1;
  }

  &__images {
    @include on-desktop() {
      grid-column: 1 / 13;
    }
  }

  &__settings {
    grid-column: 14 / 21;
  }

  &__id {
    position: absolute;
    top: 0;
    right: 0;  
  }

  &__colors {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
  }
}