@import '../../styles/mixins.scss';
@import '../../styles/variables/theme_colors.scss';

.product-page {
  --gap: 80px;

  padding-bottom: var(--gap);

  &__info {
    @include page-grid();
    row-gap: var(--gap);
  }

  &__back-link {
    margin-top: 40px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: $color-secondary;

    &:hover {
      color: $color-primary;
    }
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 40px;
  }

  &__images {
    grid-column: 1/-1;
    max-height: 420px;

    @include on-tablet(){
      grid-column: 1/ 8;
    }

    @include on-desktop() {
      grid-column: 1 / 13;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-column: 1 / -1;

    @include on-desktop() {
      grid-column: 1 / 13;
    }
  }

  &__settings {
    grid-column: 1/-1;
    max-height: min-content;

    @include on-tablet(){
      grid-column: 8/-1;
    }

    @include on-desktop() {
      grid-column: 14 / 21;
    }

    &-group {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 24px;
    }

    &-title {
      display: flex;
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;
      color: $color-secondary;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 24px;
      gap: 8px;
    }
  }

  &__id {
    color: $color-icons;
  }

  &__price {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
    margin: 0;
    font-size: 32px;
    line-height: 40px;
    color: $color-primary;

    &-current {
      display: flex;
      gap: 8px;
      font-weight: 800;
    }

    &-old {
      display: flex;
      align-items: end;
      text-decoration: line-through;
      font-size: 22px;
      line-height: 31px;
      font-weight: 400;
      color: $color-secondary;
    }

  }

  &__buttons {
    display: flex;
    gap: 8px;
  }

  &__colors {
    display: flex;
    flex-direction: column;
  }

  &__specs {
    display: flex;
    flex-direction: column;
    gap: 25px;

    grid-column: 1 / -1;

    @include on-desktop() {
      grid-column: 14 / -1;
    }

    &-title {
      margin-bottom: 16px;
    }
  }
}

.colors__header {
  display: flex;
  justify-content: space-between;
  height: min-content;
  grid-column: 1 / -1;

  @include on-desktop() {
    grid-column: 14 / -1;
  }
}

.id {
  &--on-mobile {
    @include on-desktop() {
      display: none;
    }
  }
  
  &--on-desktop{
    display: none;
    width: max-content;

    grid-column-start: auto;
    grid-column-end: -1;
    justify-self: end;

    @include on-desktop() {
      display: flex;
    }
  }
}
