@import './variables/theme_colors.scss';

@mixin on-tablet() {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  //grid-auto-flow: row;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  justify-content: center;

  @include on-tablet {
    --columns: 12;
   }

  @include on-desktop {
    --columns: 24;
  }
}

.container {
  padding-inline: 16px;

  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    margin: 0 auto;
  }
}

.item-deleting {
  animation: deletingAnimation 1s;
  position: relative;

  &::after {
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 50%;
    z-index: 1;
    background-color: $color-red;
    animation: deletingAfter 1s;
  }
}

@keyframes deletingAfter {
  0% {
    background-color: $color-white;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }

  70% {
    background-color: $color-red;
  }

  80% {
    transform: scale(1);
  }

  100% {
    background-color: $color-white;
    opacity: 1;
    transform: scale(0.1);
  }
}

@mixin hoverHeaderFooter {
  transition-duration: 1s;
  background-color: $color-hover;
  color: $color-primary;
}

@keyframes deletingAnimation {
  0% {
    filter: blur(5px);
    transform: scaleY(1);
    border-radius: 0%;
    background-color: $color-white;
  }

  40% {
    transform: scaleY(0.1);
    background-color: $color-red;
    box-shadow: 0 0 50px $color-red;
    color: $color-white;
    border-radius: 0%;
  }

  60% {
    transform: scaleY(0.05) scaleX(0.05);
    background-color: $color-red;
    box-shadow: 0 0 50px $color-red;
    color: $color-white;
    border-radius: 0%;
  }

  70% {
    border-radius: 50%;
    transform: scaleY(0.05) scaleX(0.01);
    opacity: 1;
  }

  80% {
    background-color: $color-white;
  }

  100% {
    transform: scaleY(0.15) scaleX(0.023);
    background-color: $color-white;
    box-shadow: 0 0 100px $color-red;
    color: $color-white;
    border-radius: 50%;
    opacity: 0;
  }
}

@keyframes deletingAnimationOld {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

