@import '../../styles/variables/theme_colors.scss';
@import '../../styles/mixins.scss';


.catalog {
  @include page-grid();

  &__title {
    grid-column: 1 / -1;
  }

  &__info {
    grid-column: 1 / -1;
    color: $color-secondary;
   }

  &__settings {
    display: block;
    grid-column: 1 / -1;
  }

  &__sort {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 4;
    }
  }

  &__itemsOnPage {
    grid-column: span 2;
    
    @include on-tablet {
      grid-column: span 3;
    }
  }
}
