@import '../../styles/variables/theme_colors.scss';
@import '../../styles/mixins.scss';


.catalog {
  @include page-grid();

  &__list {
    @include page-grid();
    grid-column: 1 / -1;
    row-gap: 40px;
    margin-top: 24px;
  }

  &__product {
    grid-column: 1 / -1;

    transition: transform .3s;

    &:hover {
      transform: scale(1.02);
    }

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__paginationWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    justify-self: center;
  }

  &__customPagination {
    display: flex;
    list-style: none;
    padding: 0;
  }

  &__customPagination li {
    margin-right: 10px;
  }
}
