@import '../../styles/variables/theme_colors.scss';

$select-height: 40px;
$open-duration: .3s;
$list-height: 200px;

.select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $select-height;
  width: 176px;
  box-sizing: border-box;
  padding: 10px 12px;

  cursor: pointer;

  border: 1px solid $color-icons;

  &:hover {
    border-color: $color-secondary;
  }

  &:focus {
    border-color: $color-primary;
  }

  &_icon {
    height: 16px;
    width: 16px;
    background-image: url('icons/chevron_arrow_down.svg');
    transition: transform $open-duration;

    &--close {
      transform: rotate(180deg);
    }
  }

  &_list {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  
    list-style: none;
    margin: 0;
    padding: 8px 1px;
    border: 1px solid $color-elements;
    overflow-y: hidden;
  }

  &_item {
    height: 32px;
    padding: 6px 12px;
    box-sizing: border-box;
    color: $color-secondary;

    &:hover {
      color: $color-primary;
      background-color: $color-bg;
      cursor: pointer;
    }
  }
}

.list_wrapper {
  position: absolute;
  top: $select-height + 4px;
  left: 0px;
  width: 100%;
  background-color: $color-white;
  max-height: $list-height;
  overflow-y: auto;
  transform: translateY(-20%);
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  transition: transform $open-duration ease-out, opacity $open-duration ease-out;
}

.list_wrapper--open {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
}
