@import '../../../styles/variables/theme_colors.scss';
@import '../../../styles/mixins.scss';

.capacity-link {
  --transition-duration: .3s;

  display: flex;
  width: max-content;
  font-size: 14px;
  line-height: 21px;
  color: $color-primary;
  background-color: $color-hover;
  border: 1px solid $color-icons;
  padding: 7px 8px 4px 8px;
  text-transform: uppercase;

  transition: background-color var(--transition-duration),
              border-color var(--transition-duration),
              color var(--transition-duration),
              box-shadow var(--transition-duration),
              transform var(--transition-duration);

  @include on-desktop {
    &:hover {
      background-color: $color-white;
      border-color: $color-secondary;
      /* transform: scale(1.02); */
      box-shadow: 0px 0px 10px 2px $color-elements;
      /* color: $color-secondary; */
    }
  }

  &--active {
    color: $color-white;
    border: 1px solid $color-primary;
    background-color: $color-primary;
    pointer-events: none;
  }
}
