@import '../../styles/variables/theme_colors.scss';
@import '../../styles/mixins.scss';

$header-height-base: 48px;
$header-height-desktop: 64px;

.header {
  position: relative;
  display: flex;
  height: $header-height-base;
  border-bottom: 1px solid $color-secondary;
  justify-content: space-between;


  @include on-desktop {
    height: $header-height-desktop;
  }

  &_logo__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    margin-right: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../styles/icons/LogoSmall.svg');

    @include on-desktop {
      width: 128px;
      margin-right: 24px;
      background-image: url('../../styles/icons/LogoBig.svg');
    }
  }


  .dark__theme {
    background-image: url('../../styles/icons/LogoSmall_Dark.svg');

    @include on-desktop {
      background-image: url('../../styles/icons/LogoBig_Dark.svg');
    }
  }

  &_container {
    display: none;
    justify-content: space-between;
    width: 100%;

    @include on-tablet {
      display: flex;
    }
  }

  &_nav {
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include on-desktop {
      width: 425px;
    }

    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-secondary;
      font-family: Mont;
      font-size: 12px;
      font-weight: 800;
      line-height: 11px;
      letter-spacing: 0.04em;
      height: 100%;
      padding: 0 10px;
    }
  }
}

.header_nav__link:hover {
  @include hoverHeaderFooter;
}

.dropdown_input {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.dropdown_input_mobile {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header_box {
  display: flex;
  align-items: center;
  margin-left: auto;
  
  .dropdown_input_mobile {
    
    @include on-tablet {
      display: none;
    }
  }

  .theme_button {
    display: flex;
    align-items: center;
  }
}

.theme_badge {
  height: 15px;
  width: 15px;
  color: $color-h;
  margin-right: 5px;
}

.badge_mobile {
  @include on-tablet {
    display: none;
  }
}

.header_box__container {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $color-secondary;

  svg {
    color: $color-favorite-button-svg;
  }

  @include on-desktop {
    width: 64px;
    height: 64px;
  }

  span {
    position: absolute;
    margin: 0;
    background-color: $color-red;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    border: 2px solid $color-white-counter;
    font-family: Mont;
    font-size: 8px;

    @include on-tablet {
      padding-top: 1px;
      padding-right: 1px;
      top: 15%;
      right: 18%;
    }

    @include on-desktop {
      top: 23%;
      right: 25%;
      padding-top: 2px;
    }
  }
}

.header_box__link {
  text-decoration: none;
  color: $color-secondary;
  padding: 0;
  margin: 0;
  padding: 13px 15px;

  @include on-desktop {
    padding: 21px 23px;
  }
}

.burger-toggle {
  background-color: inherit;
  width: 48px;
  border: none;
  border-left: 1px solid $color-secondary;

  @include on-tablet {
    display: none;
  }
}

.menu {
  height: calc(100vh - 48px);
  animation: menuAnimationOpen .5s;
  position: relative;

  @include on-tablet {
    display: none;
  }
}

.--close {
  animation: menuAnimationClose .5s;
}

@keyframes menuAnimationOpen {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes menuAnimationClose {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;

  &__item {
    margin-bottom: 16px;
    text-align: center;
  }

  &__link {
    color: $color-secondary;
    text-decoration: none;
    font-size: 12px;
    font-family: Mont;
    font-weight: 800;
    line-height: 11px;
    padding: 8px 0;
  }
}

.menu__bottom {
  display: flex;
  position: fixed;
  bottom: 0;
  border-top: 1px solid $color-secondary;
  height: 64px;
  align-items: center;

  .menu_item {
    display: relative;
    width: 50vw;
    line-height: 64px;
    border-right: 1px solid $color-secondary;
    text-align: center;

    svg {
      color: $color-favorite-button-svg;
    }

    &_image_fav {
      position: absolute;
      top: 23%;
      left: 25%;
      margin: 0;
      background-color: $color-red;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
      border: 2px solid $color-white-counter;
      font-family: Mont;
      font-size: 8px;
    }

    &_image_cart {
      position: absolute;
      top: 23%;
      right: 21.5%;
      margin: 0;
      background-color: $color-red;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
      border: 2px solid $color-white-counter;
      font-family: Mont;
      font-size: 8px;

    }
  }
}

.header_nav__link--active {
  position: relative;
  color: $color-primary;

  .menu_item_image_cart {
    right: 43%;
  }

  .menu_item_image_fav {
    left: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $color-favorite-button-svg;
  }
}

.languageContainer {
  position: absolute;
  right: 10px;
  top: $header-height-base +10px;

  @include on-desktop {
    top: $header-height-desktop + 10px;
  }
}

