.header {
  display: flex;
  // outline: 2px solid red;
  height: 48px;
  border-bottom: 1px solid #89939A;

  @media screen and (min-width: 1200px) {
    height: 64px;
  }

  &_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    outline: 2px solid red;
  }

  &_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // outline: 1px solid green;
  }

  &_nav {
    width: 425px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // outline: 2px solid red;

    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #89939A;
      font-family: Mont;
      font-size: 12px;
      font-weight: 800;
      line-height: 11px;
      letter-spacing: 0.04em;
      height: 100%;
      // outline: 2px solid red;
    }

    &__link--active {
      position: relative;
      // display: flex;
      // align-items: center;
      // text-decoration: none;
      // color: #313237;
      // font-family: Mont;
      // font-size: 12px;
      // font-weight: 800;
      // line-height: 11px;
      // letter-spacing: 0.04em;
      // height: 100%;
      // outline: 2px solid red;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #313237;
      }
    }
  }
}

.header_box {
  display: flex;
}

.header_box__container {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #89939A;
}

.header_box__link {
  width: 16px;
  height: 16px;
  text-decoration: none;
  color: #89939A;
  padding: 0;
  margin: 0;
  padding: 24px;
}