.light-theme {
  --color-primary: #313237;
  --color-secondary: #89939a;
  --color-icons: #b4bdc3;
  --color-elements: #e2e6e9;
  --color-hover: #fafbfc;
  --color-bg: #fafbfc;
  --color-white: #fff;
  --color-green: #37ae60;
  --color-red: #eb5757;
  --color-h: #313237;
  --color-surface1: #fafbfc;
  --color-surface2: #f1f4f7;
  --color-white-counter: #fff;
  --color-cart-button-text: #37ae60;
  --color-favorite-button-svg: #313237;
  --color-box-shadow: rgba(0, 0, 0, 0.4);
  --color-search: #f2f2f3;
}

.dark-theme {
  --color-primary: #905bff;
  --color-secondary: #75767f;
  --color-icons: #4A4D58;
  --color-elements: #3b3e4a;
  --color-hover:#323542;
  --color-bg: #0f1121;
  --color-white: #f1f2f9;
  --color-green: #37ae60;
  --color-red: #eb5757;
  --color-h: #f1f2f9;
  --color-surface1: #161827;
  --color-surface2: #161827;
  --color-white-counter: #0f1121;
  --color-cart-button-text: #F1F2F9;
  --color-favorite-button-svg: #f1f2f9;
  --color-box-shadow: rgba(143, 205, 231, 0.4);
  --color-search: #11142a;
}

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-icons: var(--color-icons);
$color-elements: var(--color-elements);
$color-hover: var(--color-hover);
$color-bg: var(--color-bg);
$color-white: var(--color-white);
$color-green: var(--color-green);
$color-red: var(--color-red);
$color-h: var(--color-h);
$color-surface1: var(--color-surface1);
$color-surface2: var(--color-surface2);
$color-white-counter: var(--color-white-counter);
$color-cart-button-text: var(--color-cart-button-text);
$color-favorite-button-svg: var(--color-favorite-button-svg);
$color-box-shadow: var(--color-box-shadow);
$color-search: var(--color-search)
