@import '../styles/mixins.scss';

.card {
  width: 100%;
  border: 1px solid $color-surface2;
  padding: 31px;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: end;
  background-color: $color-surface1;

  &__img {
    display: block;
    margin: 0 auto 8px;
    width: 100%;
    height: 170px;
    object-fit: contain;

    @include on-desktop {
      height: 236px;
    }
  }

  &__title {
    font-size: inherit;
    margin: 0;
    margin-bottom: 4px;
    font-weight: 500;
    color: $color-h;
    padding-top: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  &__title-link {
    text-decoration: none;
    color: inherit;
  }

  &__product-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
    row-gap: 8px;
    margin-bottom: 8px;
  }

  &__product-info> :nth-child(even) {
    text-align: right;
  }

  &__submit-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__price {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    font-size: 22px;
    line-height: 31px;
    color: $color-h;
  }

  &__price-current {
    display: flex;
    gap: 8px;
    font-weight: 800;
  }

  &__price-old {
    display: flex;
    align-items: start;
    text-decoration: line-through;
    font-weight: 400;
    color: $color-secondary;
  }
}
