@import '../../styles/variables/theme_colors.scss';

.footer {
  max-width: 1440px;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;

  padding-block: 32px;
  color: $color-secondary;

  &__logo {
    width: 92px;
    height: 32px;
    background-image: url('../../styles/nice_gadgets_logo.svg');
    background-repeat: no-repeat;

    & .home_link {
      display: block;
      line-height: 32px;
      color: transparent;
    }
  }

  &__links {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;

    & a {
      display: flex;
      align-items: center;
      padding-inline: 4px;
      height: 100%;
      color: $color-secondary;
      font-size: 14px;
      font-weight: bold;
      line-height: 14px;

      &:hover {
        background-color: lightgrey;
        border-radius: 4px;
        color: $color-primary;
      }
    }
  }

  &__go-top {
    align-self: center;
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }


  @media (max-width: 576px) {
    padding-block: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    &__links {
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
    }

    &__go-top {
      align-self: center;
    }
  }
}

.go-top {
  &__title {
    font-size: 12px;
    line-height: 12px;
  }

  &__icon {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    background-image: url('../../styles/icons/chevron_arrow_up.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid $color-secondary;

    &:hover {
      border: 1px solid #000;
      cursor: pointer;
    }
  }
}