@import 'styles/variables/theme_colors.scss';

@font-face {
  font-family: "Mont-Regular";
  src: url('styles/fonts/Mont-Regular.otf');
}

@font-face {
  font-family: "Monts-Bold";
  src: url('styles/fonts/Mont-Bold.otf');
}

@font-face {
  font-family: "Mont-Semibold";
  src: url('styles/fonts/Mont-SemiBold.otf');
}

html {
  font-family: "Mont-Regular", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $color-primary;

  /* cursor: url('styles/cursors/cursor_base.svg'), auto; */
  /* turn it on when find a pointer pair */
}

body {
  background-color: $color-bg;
  margin: 0; // added margin
  box-sizing: border-box; //we need it global
}
