@import '../../styles/variables/theme_colors.scss';

.chatBody1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  width: 100%;
  flex-grow: 1;
  padding: 8px;
  overflow-y: scroll;
  padding-bottom: 16px;

  &--bg {
    background-color: $color-icons;
  }
}

.chatMessage {
  display: flex;
  align-items: center;
  gap: 4px;
  align-items: start;
  width: 80%;

  &--from {
    align-self: start;

    .chatMessage__text {
      background-color: $color-icons;
    }
  }

  &--my {
    align-self: end;
    flex-direction: row-reverse;
  }

  &--system {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    padding-inline: 6px;

    max-width: 100%;
    width: fit-content;

    font-size: 12px;
    background-color: $color-icons;
    opacity: 0.5;
    border-radius: 16px;

    text-wrap: wrap;
    word-break: break-all;
  }

  &__avatar {
    --size: 32px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid $color-elements;
  }

  &__text {
    max-width: 100%;
    width: fit-content;
    min-height: 32px;
    display: flex;
    background-color: $color-elements;
    border-radius: 8px;
    padding-inline: 8px;
    padding-block: 4px;
    text-wrap: wrap;
    word-break: break-all;
  }
}