@import '../../styles/variables/theme_colors.scss';

.chatInputArea1 {
  display: flex;
  max-height: 150px;
  align-items: center;
  gap: 4px;
  height: max-content;
  width: 100%;
  background-color: $color-elements;
  padding-inline: 4px;
  padding-block: 4px;
  //box-shadow: 0 0 10px $color-box-shadow;

  textarea {
    width: 100%;
    font: inherit;
    resize: none;
    height: max-content;
    border: 1px solid $color-icons;
    transition: border-color .2s;
    border-radius: 2px;
    background-color: $color-elements;

    &:hover {
      border-color: $color-secondary;
    }

    &:focus {
      outline: none;
      border-color: $color-primary;
    }
  }
}